<div [style.background-position]="dynamicBannerBackground" id="banner">
	<div [style.margin-top]="dynamicMarginTop"[style.opacity]="dynamicOpacity"  id="bannertext">
		<h3>Track My Goods</h3>
		<p><button (click)="loginWindow=true" id='login_button' class="button success block-shadow-success text-shadow">Login</button></p>
	</div>
</div>
<footer><br/><br/>Deniss Strods 2017</footer>



            <!--LOGIN FORM HERE -->
<div class='login-cover'>
    <div *ngIf='loginWindow' class="login-form padding20 block-shadow animated flipInX" >
        
        <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
            <h1 class="text-light">Login service</h1>
            <hr class="thin"/>
            <em *ngIf="!validLogin">Username or password incorrect</em>
            <br />
            <div class="input-control text full-size" data-role="input">
                <label for="user_login">User email:</label>
                
                <input formControlName="username" type="text" name="username" id="user_login">
                <button class="button helper-button clear"><span class="mif-cross"></span></button>
                <em *ngIf="username.invalid && username.dirty">Required</em>
            </div>
            <br />
            <br />
            <div class="input-control password full-size" data-role="input">
                <label for="user_password">User password:</label>
                
                <input formControlName="password" type="password" name="password" id="user_password">
                <button class="button helper-button reveal"><span class="mif-looks"></span></button>
                <em *ngIf="password.invalid && password.dirty">Required</em>
            </div>
            <br />
            <br />
            <div class="form-actions">
                <button [disabled]="loginForm.invalid"  type="submit" class="button primary">Login</button>
                <button (click)="loginWindow=false" id='cancel_login_button' type="button" class="button link">Cancel</button>
            </div>
        </form>
        
    </div>
</div>
